/* assets/css/app.css */
body {
    background-color: lightgray;
}

#stationCodeDisplay {
  font-size: large;
  font-weight: bolder;
}

#alister {
  background-color: lightgoldenrodyellow;
}

#stationResult {
  font-size: 32pt;
  line-height: 100%;
  font-weight: bold;
  text-align: center;
}

#contractavailability {
  background-color: black;
  color: white;
}
